@import 'sass/utilities/initial-variables';
@import 'sass/utilities/functions';
@import url('https://fonts.googleapis.com/css?family=Handlee|Raleway|Roboto+Slab');

$primary: #5490e4;
$primary-invert: findColorInvert($primary);
$secondary: #cbe6c5;
$secondary-invert: findColorInvert($secondary);
$tertiary: #a5d9c8;
$tertiary-invert: findColorInvert($tertiary);

$family-primary: 'Roboto Slab', sans-serif;
$family-secondary: 'Raleway', sans-serif;

$size-normal: 0.95rem;

$radius: 2px;
$input-shadow: none;
$input-border-color: $primary;
$input-hover-border-color: darken($primary, 10%);
$input-focus-border-color: darken($primary, 20%);
$input-focus-box-shadow-size: 0 0 0.2rem 0.1rem;
$input-focus-box-shadow-color: lighten($primary, 30%);

$pagination-color: $grey;
$pagination-border-color: none;
$pagination-hover-color: $grey-dark;
$pagination-hover-border-color: none;
$pagination-focus-border-color: none;
$pagination-active-border-color: none;
$pagination-disabled-color: $grey-light;
$pagination-disabled-border-color: none;
$pagination-disabled-background-color: none;
$pagination-shadow-inset: none !important;

$modal-background-background-color: rgba($black, 0.70);

@import 'sass/utilities/derived-variables';
$addColors: (
  'secondary': ($secondary, $secondary-invert),
  'tertiary': ($tertiary, $tertiary-invert),
);
$colors: map-merge($colors, $addColors);
