@import 'variables';
@import 'transitions';
@import 'bulma';

div.has-loader {
  position: relative;
  pointer-events: none;
  opacity: 0.5;

  &:after {
    @include loader;
    position: absolute;
    top: calc(50% - 1.5em);
    left: calc(50% - 1.5em);
    width: 3em;
    height: 3em;
    border-width: 0.20em;
  }
}

.navbar {
  border-bottom: 1px solid $grey-lighter;
  box-shadow: 0 0 3px 1px $grey-lighter;
}

.post {
  margin-bottom: 30px;
  font-family: $family-secondary;

  &:last-child {
    margin-bottom: inherit;
  }
}

.navbar-brand .navbar-item {
  font-weight: 500;
  font-size: 1.3em;
  font-family: 'Handlee', 'Dosis', sans-serif;
}

.button {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: $family-secondary;
}

.file-cta {
  font-family: $family-secondary;
}

.pagination {
  text-transform: lowercase;
  font-size: 0.8rem;
  justify-content: center;
}
